/* /// POINTS AND DATA /// */

#flags_point_1 {left:3790px; top:390px;} 
#flags_data_1  {left:3690px; top:140px;}

#flags_point_2 {left:5515px; top:510px;} 
#flags_data_2  {left:5415px; top:325px;}

#flags_point_3 {left:6070px; top:390px;} 
#flags_data_3  {left:5970px; top:200px;}

#flags_point_4 {left:7120px; top:450px;} 
#flags_data_4  {left:7020px; top:260px;}

#flags_point_5 {left:7900px; top:390px;} 
#flags_data_5  {left:7800px; top:140px;}

#flags_point_6 {left:8275px; top:175px;} 
#flags_data_6  {left:8175px; top:220px;}

#flags_point_7 {left:8390px; top:420px;} 
#flags_data_7  {left:8290px; top:230px;}

#flags_point_8 {left:8490px; top:515px;} 
#flags_data_8  {left:8390px; top:325px;}

#flags_point_9 {left:8550px; top:335px;} 
#flags_data_9  {left:8450px; top:115px;}

#flags_point_10 {left:8630px; top:465px;} 
#flags_data_10  {left:8530px; top:275px;}

#flags_point_11 {left:9170px; top:370px;} 
#flags_data_11  {left:9070px; top:180px;}

#flags_point_12 {left:9300px; top:465px;} 
#flags_data_12  {left:9200px; top:245px;}

#flags_point_13 {left:10170px; top:355px;} 
#flags_data_13  {left:10070px; top:105px;}

#flags_point_14 {left:11520px; top:355px;} 
#flags_data_14  {left:11420px; top:105px;}

#flags_point_15 {left:11830px; top:365px;} 
#flags_data_15  {left:11730px; top:175px;}

/* /// STYLES /// */

#flags_points li {
	position:absolute;
	z-index:9999999;
	width:55px;
	height:35px;
	overflow:hidden;
	background:transparent;
	cursor:pointer;
}

#flags_data {position:relative;}

#flags_data li {
    z-index:9999999;
	position:absolute;
	background:#EAEAEA;
	width:auto;
	height:auto;	
    -webkit-box-shadow:5px 5px 0px rgba(208, 194, 177, 0.75);
    -khtml-box-shadow:5px 5px 0px rgba(208, 194, 177, 0.75);
    -moz-box-shadow:5px 5px 0px rgba(208, 194, 177, 0.75);
    -o-box-shadow:5px 5px 0px rgba(208, 194, 177, 0.75);
    box-shadow:5px 5px 0px rgba(208, 194, 177, 0.75);
    display:none;
}

#flags_data h1 {
    font-family:aurea-ultra;
    font-style:normal;
    font-weight:400;
    font-size:28px;
    line-height:38px;
    color:#C6301C;
    text-shadow: 1px 1px #F1F1F1;
}

#flags_data p {
    font-family:Helvetica, sans-serif;
    font-size:15px;
    line-height:24px;    
    color:#60808C;
}

#flags_data a {
    font-family:Helvetica, sans-serif;
    font-size:15px;
    line-height:15px;    
    color:#60808C;
    border:none;
    -webkit-transition:all 0.3s ease-in-out;
    -khtml-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

#flags_data a:hover {
    font-family:Helvetica, sans-serif;
    font-size:15px;
    line-height:15px;    
    color:#005E97;
}

.flags_data_top {
	background:transparent;
	width:200px;
	height:35px;
	padding:9px;
	border:#FFFFFF 2px solid;
	margin:9px 9px 0px 9px;
}

.flags_data_bottom {
	background:transparent;
	width:200px;
	height:auto;
	padding:9px;
	border-left:#FFFFFF 2px solid;
	border-right:#FFFFFF 2px solid;
	border-bottom:#FFFFFF 2px solid;
	margin:0px 9px 9px 9px;
}

.flags_data_content {padding:10px 20px 10px 0px;}

#flags_data .box-icon-b2c {
    background:transparent url("../素材/images/nfp-icon.jpg") 0 3px no-repeat;
    width:auto;
    height:20px;
    padding:5px 0px 5px 40px;
}

#flags_data .box-icon-nfp {
    background:transparent url("../素材/images/nfp-icon.jpg") 0 3px no-repeat;
    width:auto;
    height:20px;
    padding:5px 0px 5px 40px;
}

#flags_data .box-icon-p2p {
    background:transparent url("../素材/images/nfp-icon.jpg") 0 3px no-repeat;
    width:auto;
    height:20px;
    padding:5px 0px 5px 40px;
}

