.onionskin {
	position:fixed;
	z-index:99998;
	top:0px; left:0px;
	width:100%; height:100%;
	background-color:rgba(0,0,0,.5);
	display:none;
}	
.modal {
	position:fixed;
	z-index:99999;
	padding: 50px 50px 50px 50px;
	width:600px;
	height:auto;
	left:50%;
	background:#EAEAEA;
	margin-left:-350px;
	display:none;
	cursor: pointer;	
    -webkit-box-shadow:8px 8px 0px rgba(208, 194, 177, 0.75);
    -khtml-box-shadow:8px 8px 0px rgba(208, 194, 177, 0.75);
    -moz-box-shadow:8px 8px 0px rgba(208, 194, 177, 0.75);
    -o-box-shadow:8px 8px 0px rgba(208, 194, 177, 0.75);
    box-shadow:8px 8px 0px rgba(208, 194, 177, 0.75);
}
.modal .close_modal {
	position:absolute; 
	top:20px; 
	right:20px;
	width:35px;
	height:35px;
	background:transparent url("../素材/images/close-btn.png") no-repeat;
}
.modal h1 {
    font-family:aurea-ultra;
    font-style:normal;
    font-weight:400;
    font-size:28px;
    line-height:38px;
    color:#D55B25;
    text-shadow: 1px 1px #F1F1F1;
    margin-bottom:20px;
    width:600px;
}

.video-border {
    background:rgb(208,194,177);
    width:auto;
    height:auto;
    padding:5px 5px 3px 5px;
}